

.brand-image{

    height: 23px;
    padding-left: 40px;
    /* padding-top: 7PX; */
    MARGIN-TOP: 8PX;
  
}
.navbar-nav cl1 {
    width: 70p;
}
.navbar-toggler{
    padding: 10px 6px;

}
.slide1{
    width: 50px;
}
